{% extends 'base.html.twig' %}

{% block title %}Joueur : {{ participant.nom }}{% endblock %}

{% block body %}
    <h1 class="center page-title">Participant</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th class="center">Id</th>
                <td class="center">{{ participant.id }}</td>
            </tr>
            <tr>
                <th class="center">Nom</th>
                <td class="center">{{ participant.nom }}</td>
            </tr>
            <tr>
                <th class="center">Prenom</th>
                <td class="center">{{ participant.prenom }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-xs btn-secondary btn-retour" role="button" href="{{ path('app_participant_index') }}">
        <i class="fa-solid fa-left-long"></i> Retour à la liste
    </a>
    <a class="btn btn-xs btn-warning" role="button" href="{{ path('app_participant_edit', {'id': equipe.id}) }}">
        <i class="fa-solid fa-pen-to-square"></i> Modifier
    </a>
{% endblock %}
