{% extends 'base.html.twig' %}

{% block title %}
	{{ jeu.nom }}
{% endblock %}

{% block body %}
	<h1 class="center page-title">Jeu en cours :
		{{ jeu.nom }}</h1>
	<div class="container">
		<form id="jeu-form">
			<input type="hidden" id="jeu-id" value="{{jeu.id}}">
			<div class="row">
				<div class="col-2">
					<div class="card">
						<div class="card-header text-bg-dark">
							<strong>Équipes</strong>
						</div>
						<ul class="list-group">
							{% for equipe in equipes %}
								<li class="list-group-item">
									<input class="form-check-input me-1" type="radio" name="equipesRadio" value="{{equipe.id}}" id="radio-{{equipe.nom}}">
									<label class="form-check-label" for="radio-{{equipe.nom}}">{{equipe.nom}}</label>
									<span id="score-equipe-{{equipe.id}}" class="badge text-bg-success rounded-pill right">0</span>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="col-8">
					<div class="card">
						{% set loopIcons = 0 %}
						{% if (jeu.id == 1) %}
							{% for question in questions %}
								<div data-id="{{question.id}}" class="question {% if loop.index != 1 %}hidden{% else %}current-question{% endif %}">
									<div class="card-header">
										<strong>Question
											{{loop.index}}/{{loop.length}}:
											{{question.intitule}}
										</strong>
									</div>
									<ul class="list-group">
										{% for proposition in question.getPropositions %}
											<li class="list-group-item li-prop">
												<input class="form-check-input me-1" type="radio" name="list-proposition" value="{{proposition.id}}" id="{{proposition.id}}">
												<label class="form-check-label" for="{{proposition.id}}">{{proposition.titre}}</label>
											</li>
										{% endfor %}
									</ul>
								</div>
							{% endfor %}
						{% elseif (jeu.id == 2) %}
							<div class="card-header text-bg-dark">
								<strong>Choissez l'équipe puis un thème</strong>
							</div>
							{% for theme in themes|sort((a,b) => random(-1,1)) %}
								{% set loopIcons = loopIcons + 1 %}
								{% if (loopIcons in [1, 5, 9, 13]) %}
									<div class="row row-grid">
										<div data-theme="{{theme.id}}" class="col-3 flex-center-div div-icons">
											<i class="{{theme.icon}} icon-game"></i>
										</div>
									{% elseif (loopIcons in [4, 8, 12, 16]) %}
										<div data-theme="{{theme.id}}" class="col-3 flex-center-div div-icons">
											<i class="{{theme.icon}} icon-game"></i>
										</div>
									</div>
								{% else %}
									<div data-theme="{{theme.id}}" class="col-3 flex-center-div div-icons">
										<i class="{{theme.icon}} icon-game"></i>
									</div>
								{% endif %}
							{% endfor %}
							{% elseif (jeu.id == 3) %}
						{% endif %}
					</div>
				</div>
				<div class="col-2 flex-center-div">
					<button type="button" id="next-question" class="btn-circle btn-xl primary btn-next hidden">
						<i class="fa-solid fa-arrow-right icon"></i>
					</button>
				</div>
			</div>
			<div class="center submit-div">
				<button id="submit-form" type="submit" class="btn btn-xs btn-success">
					<i class="fa-solid fa-check"></i>
					Valider la réponse
				</button>
			</div>
		</form>
		<div class="toast-container position-fixed top-0 start-50 translate-middle-x">
			<div id="toast-error" class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
				<div class="d-flex">
					<div id="toast-body" class="toast-body">
						L'équipe ou la réponse est vide
					</div>
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="modal-animateurs" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="modal-animateurs-title">Sélectionnez la difficulté</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div id="modal-animateurs-body" class="modal-body">
						<div class="container-fluid">
							<ul class="list-group" id="list-difficulte">
								<li class="list-group-item li-difficulte">
									<input class="form-check-input me-1" type="radio" data-id="1" name="select-difficulte" value="difficulte-1" id="difficulte-1">
									<label class="form-check-label" for="difficulte-1">Facile</label>
								</li>
								<li class="list-group-item li-difficulte">
									<input class="form-check-input me-1" type="radio" data-id="2" name="select-difficulte" value="difficulte-2" id="difficulte-2">
									<label class="form-check-label" for="difficulte-2">Difficile</label>
								</li>
							</ul>
							<p id="question-difficulte"></p>
							<p id="theme-id"></p>
							<p id="level-difficulte"></p>
							<p id="id-question"></p>
							<div class="center">
								<button id="reponse-question" class="btn btn-primary hidden">
									<i class="fa-solid fa-eye"></i>
									Voir la réponse
								</button>
								<div class="input-group mb-3">
									<input id="reponse-intitule" type="text" class="form-control" disabled>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button id="bonne-rep" type="button" class="btn btn-success hidden close-modal-reponse" data-bs-dismiss="modal">
							<i class="fa-solid fa-check"></i>
							Bonne réponse
						</button>
						<button id="mauvaise-rep" type="button" class="btn btn-danger hidden close-modal-reponse" data-bs-dismiss="modal">
							<i class="fa-solid fa-xmark"></i>
							Mauvaise Réponse
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
