{% extends 'base.html.twig' %}

{% block title %}Liste des propositions{% endblock %}

{% block body %}
    <h1 class="center page-title">Liste des propositions</h1>
    <div class="center">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="center">Titre</th>
                    <th class="center">Question associée</th>
                    <th class="center">Valide</th>
                    <th class="center">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for proposition in propositions %}
                <tr {{ proposition.valide ? '' : 'class="table-danger"' }}>
                    <td>{{ proposition.titre }}</td>
                    <td>{{ proposition.question.intitule }}</td>
                    <td>{{ proposition.valide ? 'Oui' : 'Non' }}</td>
                    <td>
                        <a class="btn btn-xs btn-secondary" role="button" href="{{ path('app_proposition_show', {'id': proposition.id}) }}">
                            <i class="fa-solid fa-eye"></i> Voir
                        </a>
                        <a class="btn btn-xs btn-warning" role="button" href="{{ path('app_proposition_edit', {'id': proposition.id}) }}">
                            <i class="fa-solid fa-pen-to-square"></i> Modifier
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucune donnée n'est disponible</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-xs btn-primary" role="button" href="{{ path('app_proposition_new') }}">
            <i class="fa-solid fa-plus"></i> Ajouter une proposition
        </a>
    </div>
{% endblock %}
