{% extends 'base.html.twig' %}

{% block title %}Proposition: {{ proposition.titre }}{% endblock %}

{% block body %}
    <h1 class="center page-title">Proposition: {{ proposition.titre }}</h1>
    <div class="center">
        <table class="table table-bordered">
            <thead class="sticky-header">
                <tr>
                    <th class="center">Titre</th>
                    <th class="center">Valide</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center">{{ proposition.titre }}</td>
                    <td class="center">{{ proposition.valide ? 'Yes' : 'No' }}</td>
                </tr>
            </tbody>
        </table>

        <a class="btn btn-xs btn-secondary btn-retour" role="button" href="{{ path('app_proposition_index') }}">
            <i class="fa-solid fa-left-long"></i> Retour à la liste
        </a>

        <a class="btn btn-xs btn-warning" role="button" href="{{ path('app_proposition_edit', {'id': proposition.id}) }}">
            <i class="fa-solid fa-pen-to-square"></i> Modifier
        </a>
        
    </div>
{% endblock %}
