{% extends 'base.html.twig' %}

{% block title %}Equipe : {{ equipe.nom }}{% endblock %}

{% block body %}
    <h1>Equipe : {{ equipe.nom }}</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ equipe.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ equipe.nom }}</td>
            </tr>
        </tbody>
    </table>
    

    <a class="btn btn-xs btn-secondary btn-retour" role="button" href="{{ path('app_equipe_index') }}">
        <i class="fa-solid fa-left-long"></i> Retour à la liste
    </a>

    <a class="btn btn-xs btn-warning" role="button" href="{{ path('app_equipe_edit', {'id': equipe.id}) }}">
        <i class="fa-solid fa-pen-to-square"></i> Modifier
    </a>

    {{ include('equipe/_delete_form.html.twig') }}
{% endblock %}
